framework: auto-detect

source https://www.nuget.org/api/v2

nuget Proto.FSharp
nuget FSharp.Core

source https://www.myget.org/F/protoactor/api/v3/index.json
nuget Proto.Actor 0.1.15-build00650-dev
nuget Proto.Cluster.Consul 0.1.15-build00650-dev
